*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

$back-top-color:  rgb(233, 199, 105);
$font-size17: 17px;
html{
    height: 100%;
}
body{
    background-color: rgb(245, 240, 235);
    display: flex;
    flex-direction: column;
    height: 100%;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
}

.header{   
    .header-top{
        background-color: $back-top-color;
        display: flex;
        gap: 150px;
        
        .logo{
            .logo-img{
                width: 80px;
            }       
        }
        .header-navbar{
            margin: 30px;
            ul{
                display: flex;
                align-items: center;
                gap: 50px;
                li{
                    a{
                        font-size: 25px;
                    }
                    a:hover{
                        color: red;
                    }
                }
            }         
        }
    }
}

main{
    flex: 1;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        gap: 60px;
        li{        
            
            a{
                font-size: 30px;
                border: 3px solid $back-top-color;
                padding: 20px;
                border-radius: 50px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: $back-top-color;
                    transition: all 0.3s ease-in-out;
                    
                }
            }
            
        }
    }
}
.input_answer-green{
    padding: 5px;
    margin-top: 25px;
    width: 30%;
    height: 35px;
    font-size: $font-size17;
    background-color: #eee;
    border: 1px solid #17b83a;
    border-radius: 0.25rem;
    &:focus {
        color: #212529;
        background-color: #eee;
        border-color: 1px solid #17b83a;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
}
.input_answer-red{
    padding: 5px;
    margin-top: 25px;
    width: 30%;
    height: 35px;
    font-size: $font-size17;
    background-color: #eee;
    border: 1px solid #cd4848;
    border-radius: 0.25rem;
    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #cd4848;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
}
.input_answer{
    padding: 5px;
    margin-top: 25px;
    width: 30%;
    height: 35px;
    font-size: $font-size17;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
}
.reshenie{
    display: none;
}
#button{
    padding: 15px 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.answer_bg-green{
    background-color: #c0ffc0;
}
.answer_bg-red{
    background-color: #ffc0c0;
}
.answer_td{
    width: 190px;
}
.answer_table-border{
    border-left: 0;
    border-right: 0;
}
.centerResult{
    text-align: center;
    font-size: 25px;
    padding: 25px 0;
}
// footer{
//     height: 120px;
//     background-color: rgb(34, 36, 36);
//     flex-shrink: 0;
// }