*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

$color-orange: rgb(204, 166, 60);

.variants-block{
    .vars-text{
        display: flex;
        justify-content: center;
        padding: 15px;
        font-size: 50px;
    }
    .vars{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a{
            display: block;
            font-size: 23px;
            padding: 20px 40px;
            margin: 25px;
            border: 4px solid $color-orange;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
        }
        a:hover{
            background-color: $color-orange;
            transition: all 0.3s ease-in-out;
        }   
}
}

hr{
    border: 3px solid $color-orange;
    display: block;
    margin: 30px;
}

.task-block{
    padding-left: 30px;
    font-size: 22px;
    .task-block_inner{
        padding: 10px;
        a:hover{
            color: rgb(255, 72, 0);
            border-bottom: 1px solid;
        }
    }
    
}
details{
    margin: 10px 0;
    summary {
        font-size: 20px;
        display: block;
        width: fit-content;  
        border-bottom: 1px solid;     
        cursor: pointer; 
        
    }
    p{
        margin-top: 15px;
    }
}

.task-info{
    font-size: 23px;
    padding: 20px 0 0 20px;
}
.task-info_inner{
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}
.task-hr__info{
    border: 2px solid rgb(45, 150, 13);
    margin: 0 20px 5px 20px;
}
.task-hr{
    border: 2px solid $color-orange;
    margin: 0 20px 5px 20px;
}

// tasks-1
.task-one{
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    .task-one__text{
        a{
            color: blue;
            border-bottom: 1px solid;
        }
    }
}

// tasks-3
.task-three{
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    .task-three__text{
        span{
            display: block;
            text-align: center;
        }
    }
}

// task-10
.task-ten{
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    .task-ten__text{
        span{
            display: block;
            text-align: center;
        }
    }
}

.font-oz{
    color: red;
}


